
@model Secret


    <div class="container">
                <a asp-action="Index"  asp-controller="Home"><h1>LOGOUT</h1></a> 

        <h1>Edit Suggestion</h1><br><hr>
        <form asp-action="Update" asp-controller="Secret" method="post">
            <input type="hidden" asp-for="UserId" value="@Model.UserId">
            <div class="form-group">
                <label asp-for="Content">Edit</label>
                <span asp-validation-for="Content"></span>
                <textarea class="form-control" asp-for="Content"></textarea>
            </div><br>
            <button>Edit</button>
        </form>

    </div>


