
@model User

<div class="container">
<h1>We are what we do daily !</h1><br>
<h1>Journalizing our daily tasks is  good practice !!</h1> <br>
<h1>Signup or Login and Suggest a good daily routine  anyone could  adopt !!!</h1> <br><hr>

<partial name="RegPartial"/> <br><br><hr>
<partial name="LoginPartial"/> 



</div>